<template>
    <div>
        <div class="form-group">
            <router-link to="/" class="btn btn-default">Back</router-link>
        </div>
    
        <card title="Create new task">
            <div class="panel-body">
                <form v-on:submit="saveForm()">
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">task title</label>
                            <input type="text" v-model="task.title" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">task content</label>
                            <input type="text" v-model="task.content" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <v-button type="info">Create</v-button>
                        </div>
                    </div>
                </form>
            </div>
        </card>
    </div>
</template>

<script>
    import VButton from "../../components/Button";
    export default {
        components: {VButton},
        data: function () {
            return {
                task: {
                    title: '',
                    content: ''
                }
            }
        },
        methods: {
            saveForm() {
                event.preventDefault();
                var app = this;
                var newtask = app.task;
                axios.post('/tasks', newtask)
                    .then(function (resp) {
                        app.$router.push({path: '/tasks'});
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        alert("Could not create your task");
                    });
            }
        }
    }
</script>