<template>
    <div>
        <div class="form-group">
            <router-link to="/tasks" class="btn btn-default">Back</router-link>
        </div>
    
        <card title="Update task">
            <div class="panel-body">
                <form v-on:submit="saveForm()">
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">task title</label>
                            <input type="text" v-model="task.title" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">task content</label>
                            <input type="text" v-model="task.content" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <v-button type="info">Update</v-button>
                        </div>
                    </div>
                </form>
            </div>
        </card>
    </div>
</template>

<script>
    export default {
        mounted() {
            let app = this;
            let id = app.$route.params.id;
            app.taskId = id;
            axios.get('/tasks/' + id)
                .then(function (resp) {
                    app.task = resp.data;
                })
                .catch(function () {
                    alert("Could not load your task")
                });
        },
        data: function () {
            return {
                taskId: null,
                task: {
                    title: '',
                    content: '',
                }
            }
        },
        methods: {
            saveForm() {
                event.preventDefault();
                var app = this;
                var newtask = app.task;
                axios.patch('/tasks/' + app.taskId, newtask)
                    .then(function (resp) {
                        app.$router.replace('/tasks');
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        alert("Could not create your task");
                    });
            }
        }
    }
</script>