<template>
    <div>
        <div class="form-group">
            <router-link :to="{name: 'createTask'}" class="btn btn-success">Create new task</router-link>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">Tasks list</div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Content</th>
                        <th width="100">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="task, index in tasks">
                        <td>{{ task.title }}</td>
                        <td>{{ task.content }}</td>
                        <td>
                            <router-link :to="{name: 'editTask', params: {id: task.id}}" class="btn btn-xs btn-default">
                                Edit
                            </router-link>
                            <a href="#"
                               class="btn btn-xs btn-danger"
                               v-on:click="deleteEntry(task.id, index)">
                                Delete
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                tasks: []
            }
        },
        mounted() {
            let app = this;
            axios.get('/tasks')
                .then(function (resp) {
                    app.tasks = resp.data;
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not load tasks");
                });
        },
        methods: {
            deleteEntry(id, index) {
                if (confirm("Do you really want to delete it?")) {
                    var app = this;
                    axios.delete('/tasks/' + id)
                        .then(function (resp) {
                            app.tasks.splice(index, 1);
                        })
                        .catch(function (resp) {
                            alert("Could not delete task");
                        });
                }
            }
        }
    }
</script>